$main-title-color: #000000;
$header-text-color: #ffffff;
$footer-text-color: #545454;
$main-notification-text-color: #ff001b;
$main-genres-color: #ff6b08;
$main-light-color: #ffffff;
$modal-text-info-color: #8c8c8c;
$modal-rating-color: #ff6b01;

$footer-bgc: #f7f7f7;
$pagination-btn-color: #f7f7f7;
$pagination-accent-btn-color: #ff6b08;

$back-drop-color: #9083839f;

$main-font-family: Roboto, sans-serif;

$modal-accent-btn: #ff001b;
