<div class="back-drop is-hidden-">
  <div class="modal">
    <button class="modal__close-btn">
      <svg class="close-btn__icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#close_icon"></use>
      </svg>
    </button>
    <img class="modal__movie-cover" src="./images/test.jpg" alt="movie cover -- movie name" />
    <h2 class="modal__name-movie">A FISTFUL OF LEAD</h2>
    <ul class="modal__film-info film-list">
      <li class="film-list__item">
        <p class="film-list__text">Vote/Votes</p>
        <span class="film-list__rating">7.3</span> /<span>1299</span>
      </li>
      <li class="film-list__item">
        <p class="film-list__text">Popularity</p>
        <span>100.2</span>
      </li>
      <li class="film-list__item">
        <p class="film-list__text">Original Title</p>
        <span>A FISTFUL OF LEAD</span>
      </li>
      <li class="film-list__item">
        <p class="film-list__text">Genre</p>
        <span>Western</span>
      </li>
    </ul>
    <p class="modal__about">ABOUT</p>
    <p class="modal__about-text">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most
      corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the
      other three escapes with bags of gold hide out in the abandoned gold mine where they happen
      across another gang of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of gold are filled with
      lead... they’ve been double crossed – but by who and how?
    </p>
    <div class="modal_buttons">
      <button class="modal__btn wathed-btn">ADD TO WATCHED</button>
      <button class="modal__btn queue-btn">ADD TO QUEUE</button>
    </div>
  </div>
</div>
