<div class="pagination">
  <button class="button pagination__btn pagination__btn-arrow">
    <svg class="pagination__arrow" width="16" height="16">
      <use href="./images/symbol-defs.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="button pagination__btn-number pagination__btn-additional">1</button>
  <button class="button pagination__btn-number pagination__btn-additional">...</button>

  <button class="button pagination__btn-number">14</button>
  <button class="button pagination__btn-number">15</button>

  <button class="button pagination__btn pagination__btn--accent">16</button>
  <button class="button pagination__btn-number">17</button>
  <button class="button pagination__btn-number">18</button>
  <button class="button pagination__btn-number pagination__btn-additional">...</button>

  <button class="button pagination__btn-number pagination__btn-additional">99</button>

  <button class="button pagination__btn pagination__btn-arrow">
    <svg class="pagination__arrow" width="16" height="16">
      <use href="./images/symbol-defs.svg#arrow-right"></use>
    </svg>
  </button>
</div>
