<header class="header hero-section">
  <div class="container">
    <div class="navigation">
      <a href="#" class="navigation__logo">
        <svg class="navigation__logo-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#film_icon"></use>
        </svg>
      </a>
      <nav class="navigation__bar">
        <ul class="navigation__list">
          <li class="navigation__item">HOME</li>
          <li class="navigation__item">MY LIBRARY</li>
        </ul>
      </nav>
    </div>
    <div class="search-form-group">
      <input type="text" class="search-form-group__search" placeholder="Поиск фильмов" />
      <svg class="search-form-group__icon" width="12" height="12">
        <use href="./images/symbol-defs.svg#search_icon"></use>
      </svg>
    </div>
    <p class="search-notification js-hidden">
      Search result not successful. Enter the correct movie name
    </p>
  </div>
</header>
