.film-container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film-card {
  max-width: 320px;
  max-height: 443px;

  margin-bottom: 20px;

  &__image {
    margin-bottom: 10px;
    width: 100%;
  }

  &__text {
    color: $main-title-color;
  }

  &__genres {
    color: $main-genres-color;
  }
}

@media screen and (min-width: 768px) {
  .film-container {
    max-width: 767px;
    padding: 60px 75px;

    display: flex;
    flex-wrap: wrap;
  }

  .film-card {
    max-width: 293px;
    max-height: 439px;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .film-container {
    max-width: 1024px;
    padding: 60px 47px;

    display: flex;
    flex-wrap: wrap;
  }

  .film-card {
    max-width: 274px;

    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
