.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;

  padding: 46px 20px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  &__logo {
    margin-right: auto;
  }

  &__logo-icon {
    width: 24px;
    height: 24px;
  }
}

.navigation__item-link {
  color: $header-text-color;
}

.search-form-group__search {
  margin-top: 40px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: $header-text-color;

  &::placeholder {
    color: #fff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    align-items: center;
  }

  &:focus,
  :hover {
    outline: none;
    border-color: transparent;
    border-bottom: 1px solid #fff;
  }
}

.hero-section {
  max-width: 767px;
  height: 230px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/home_hero_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/home_hero_mobile@x2.jpg);
  }
}

.navigation__item {
  color: #fff;

  &:hover,
  :focus {
    border-bottom: 3px solid red;
    cursor: pointer;
  }
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 17px;

  :not(:last-child) {
    margin-right: 20px;
  }
}

.navigation__logo-text {
  visibility: hidden;
}

.search-form-group {
  max-width: 336px;
  width: 100%;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;

  position: relative;

  margin-bottom: 22px;

  &__icon {
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 5px;
    right: 0px;
  }
}

.search-notification {
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #ff001b;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1023px;
    padding: 46px 71px;
  }

  .hero-section {
    max-width: 1023px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/home_hero_tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/home_hero_tablet@x2.jpg);
    }
  }

  .navigation__list {
    :not(:last-child) {
      margin-right: 40px;
    }
  }

  .navigation__logo-text {
    margin-left: 10px;
    visibility: visible;
    color: $header-text-color;
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .hero-section {
    max-width: 1024px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/home_hero_desctop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/home_hero_desctop@x2.jpg);
    }
  }
}
